*/venv
*/__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.egg-info
dist/
build/
*.egg
*.tar.gz
*.zip
*.pytest_cache/
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pytype/
.pyre/
.pyright/
.idea/
.vscode/